/* A11Y BUTTONS STYLE */

/* This file holds the styling made by the plugin
 * when the high contrast mode is active
 */
.a11y-buttons-high-contrast-mode {

	*,
	*.has-background,
	*.has-text-color {
		background-color: #000 !important;
		color: #fff !important;
		fill: #fff !important;
	}

	a,
	a.has-link-color {
		color: rgb(0, 225, 255) !important;

		&:hover {
			color: rgb(251, 255, 0) !important;
		}

		&:active {
			color: rgb(21, 255, 0) !important;
		}

		&:visited {
			color: rgb(225, 0, 255) !important;
		}
	}

	button,
	.wp-block-button,
	input,
	textarea,
	select {
		box-shadow: 0 0 0 3px rgb(0, 225, 255) !important;

		&:focus {
			box-shadow: 0 0 0 3px rgb(255, 145, 0) !important;
		}

		&:hover {
			box-shadow: 0 0 0 3px rgb(251, 255, 0) !important;
		}

		&:active {
			box-shadow: 0 0 0 3px rgb(21, 255, 0) !important;
		}
	}

}
