/* A11Y BUTTONS STYLE */

/* This file holds the styling made by the plugin
 * when the readable font mode is active
 */
@font-face {
	font-family: "Atksinson Hyperlegible";
	src: url(../assets/readable-font/EOT/Atkinson-Hyperlegible-Regular-102.eot); /* IE9 Compat Modes */
	src:
		url(../assets/readable-font/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2) format("woff2"), /* Super Modern Browsers */
		url(../assets/readable-font/WOFF/Atkinson-Hyperlegible-Regular-102.woff) format("woff"), /* Pretty Modern Browsers */
		url(../assets/readable-font/TTF/Atkinson-Hyperlegible-Regular-102.ttf)  format("truetype"); /* Safari, Android, iOS */
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Atksinson Hyperlegible";
	src: url(../assets/readable-font/EOT/Atkinson-Hyperlegible-Bold-102.eot); /* IE9 Compat Modes */
	src:
		url(../assets/readable-font/WOFF2/Atkinson-Hyperlegible-Bold-102a.woff2) format("woff2"), /* Super Modern Browsers */
		url(../assets/readable-font/WOFF/Atkinson-Hyperlegible-Bold-102.woff) format("woff"), /* Pretty Modern Browsers */
		url(../assets/readable-font/TTF/Atkinson-Hyperlegible-Bold-102.ttf)  format("truetype"); /* Safari, Android, iOS */
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Atksinson Hyperlegible";
	src: url(../assets/readable-font/EOT/Atkinson-Hyperlegible-Italic-102.eot); /* IE9 Compat Modes */
	src:
		url(../assets/readable-font/WOFF2/Atkinson-Hyperlegible-Italic-102a.woff2) format("woff2"), /* Super Modern Browsers */
		url(../assets/readable-font/WOFF/Atkinson-Hyperlegible-Italic-102.woff) format("woff"), /* Pretty Modern Browsers */
		url(../assets/readable-font/TTF/Atkinson-Hyperlegible-Italic-102.ttf)  format("truetype"); /* Safari, Android, iOS */
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Atksinson Hyperlegible";
	src: url(../assets/readable-font/EOT/Atkinson-Hyperlegible-BoldItalic-102.eot); /* IE9 Compat Modes */
	src:
		url(../assets/readable-font/WOFF2/Atkinson-Hyperlegible-BoldItalic-102a.woff2) format("woff2"), /* Super Modern Browsers */
		url(../assets/readable-font/WOFF/Atkinson-Hyperlegible-BoldItalic-102.woff) format("woff"), /* Pretty Modern Browsers */
		url(../assets/readable-font/TTF/Atkinson-Hyperlegible-BoldItalic-102.ttf)  format("truetype"); /* Safari, Android, iOS */
	font-weight: 700;
	font-style: italic;
}

.a11y-buttons-readable-font-mode *:not([aria-hidden="true"]) {
	font-family: "Atksinson Hyperlegible", Arial, Helvetica, sans-serif !important;
}
