/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-a11y-buttons-a11y-button {
	display: inline-block;

	button,
	a {
		display: flex;
		padding: 0.25em 0.75em;
		font-size: 1em;
		align-items: center;
		gap: 0.5em;

		svg {
			padding: 0.25em 0;
			display: block;
			box-sizing: content-box;
		}

		&:not(.has-background) {
			background: transparent;
		}

		&:not(.has-text-color) {
			color: currentcolor;
		}

		&:not(.has-border-color) {
			border: 0 solid transparent;
		}

		&.components-button .block-editor-rich-text__editable {
			cursor: text;
		}

		&:not(.components-button) {
			cursor: pointer;
		}
	}

}
